.body {
  outline: none;
  border: none;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(#082276, #2a5298);
  height: 100vh;
  color: #f3f3f3;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

.main {
  margin-top: 50px;
}
